.banner {
  padding-top: 20vh;
  height: 80vh;
  margin-bottom: -80px;
  color: white;
  object-fit: contain;
}
.banner-content {
  margin-top: 30px;
  padding-top: 300px;
}
.banner-title {
  font-size: 30px;
  font-weight: 800px;
  padding-bottom: 0.3rem;
}
.banner-description {
  width: 45rem;
  line-height: 1;
  max-width: 368px;
  height: 80px;
  padding: 1rem 0;
  font-size: 1rem;
}

.play {
  color: aliceblue;
  background-color: red;
}
.banner-buttons {
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 1.2em;
  font-weight: 700;
  border-radius: 0.2rem;
  padding: 1rem 3rem;
  margin-right: 2rem;
}
.banner-button:hover {
  transition: all 0.2s;
}
.banner-fade-button {
  height: 40vh;
  background-image: linear-gradient(180deg, transparent, rgb() #111);
}
